header.header 
    div.container
        div.header-inner Hello 
         header.header 
            div.container
                .header-row
                a.logo(href="#") Indicorp
                nav.nav
                    ul
                        li  
                            a(href="#") Home
                        li  
                            a(href="#") Home
                        li  
                            a(href="#") Home
                        li  
                            a(href="#") Home